html {
	font-size:16px;
	height: 100%;
}

body {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 100%;
  justify-content: center;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 auto;
}

h1,h2,h3,h4 {
	color: black;
	font-weight: 700;
	text-transform: uppercase;
}
h1 {
	font-size: 1.87em;
	border-bottom: 3px solid #77a466;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.1em;
}
h4 {
	font-size: .7em;
}

p {
	font-size: .87em;
	line-height: 21px;
}

header {
	align-items: center;
	display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
}

header h1 {
	margin: 0;
	padding: 38px 20px 20px 20px; 
	width: 100%;
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 20px 0; 
	width: 100%;
}
header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	font-weight: 700;
	font-size: .87em;
	list-style: none;
	padding: 10px 0;
	text-transform: uppercase;
	line-height: 30px;
	align-items: center;
	display: flex;
	flex-flow: column;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

.top-section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

.bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-flow: row wrap;
  padding-left: 0;
}

.main-image {
	height: auto;
}
.main-image img {
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
	width: 100%;
}

.main-title {
	height: 100%;
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}

h3 {
	color: #77a466;
}

.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.about p {
	padding: 0;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	padding-left: 0;
}

.section-one h4 {
	display: flex;
	width: 100%;
	padding: 0px 30px;
	padding-left: 0;
}


.section-two h4,
.section-three h4 {
	padding: 0px 30px;
	align-items: center;
	width: 100%;
	padding-left: 0;
}

.section-two p {
	padding-left: 0;
}

.menu {
	align-items: left;
	display: flex;
	flex-flow: column;
	list-style: none;
	justify-content: space-between;
	padding-left: 0;
	width: 100%;
	
}
.menu li {
	padding: 10px 0;
	color:#77a466;
	align-items: center;
}

.reviews {
	align-items: center;
	color: #333;
	display: flex;
	font-size: 1em;
	line-height: 24px;
	width: 100%;
}


.address {
	align-items: center;
	display: flex;
	font-size: 1em;
	line-height: 24px;
	width: 100%;
	padding-left: 0;
}

footer {
  align-items: center;
  border-top: 3px solid #eee;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
footer span {
	color: #77a466;
	font-size: .8em;
	font-family: 'Galada', cursive;
	text-transform: lowercase;
}

/* ----------- Tablets larger than 768px wide ----------- */
@media all and (min-width: 768px) {


.section-one, .section-two, .section-three {
	border-top: none;
	flex-basis: 30%;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	padding-left: 0 20px;
}

.bottom-section {
	align-items: flex-start;
	border-top: 1px solid #eee;
	display: flex;
	justify-content: center;
}

.section-two h4,
.section-three h4 {
	padding: 0px 30px;
	align-items: center;
	width: 100%;
}

.section-two p {
	padding: 0px 30px;
	align-items: center;
	width: 100%;
}

.section-three p {
	padding: 0px 30px;
	align-items: center;
	width: 100%;
}

}


/* ----------- Monitors larger than 1200px wide ----------- */
@media all and (min-width: 1200px) {
	
body {
	margin: 0;
}

header {
	justify-content: space-between;
	height: 110px;
	margin: 0;
	padding: 0;
}

header h1 {
	width: 30%;
	text-align: left;
	border-bottom: none;
	padding: 0;
	margin: 0;
}

header nav {
	width: 50.5%;
	display: flex;
	justify-content: space-between;
	
	padding: 0;
}

header nav ul {
	width: 34%;
	display: flex;
	justify-content: space-between;
	
	margin: 0;
	padding: 0;
}

header nav ul li {
	padding: 0 10px;xsv
}

.section-two h4,
.section-three h4 {
	padding: 0px 30px;
	align-items: center;
	width: 100%;	
}

.section-two p {
	padding: 0px 30px;
	align-items: center;
	width: 100%;
}

.section-three p {
	padding: 0px 30px;
	align-items: center;
	width: 100%;
}


}

